
.menu {
  @apply flex items-center px-6 py-2 text-sm font-medium border-l-4 border-transparent;
  
  &-current {
    @apply border-primary;
    color: theme('colors.primary') !important;
    &:hover {
      color: theme('colors.primary') !important;
    }
  
    svg {
      @apply group-hover:text-primary;
      stroke: theme('colors.primary') !important;
    }
  }
}
