.layout-topbar-logo {
    display: flex;
    align-items: center;
    color: var(--surface-900);
    font-size: 1.5rem;
    font-weight: 500;
    width: 300px;
    border-radius: 12px;

    img {
        height: 2rem;
        margin-right: .5rem;
    }

    &:focus {
        @include focused();
    }
}