/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "assets/demo/flags/flags.css";
@import "assets/demo/documentation.scss";
@import "assets/sass/layout/_variables";
@import "assets/sass/layout/_layout";
@import "assets/sass/overrides/_overrides";

.custom-style {
    font-size: 18px;
    .item {
      padding-left: 4px;
      &:nth-child(1) {
        color: rgb(199, 66, 0);
      }
      &:nth-child(2) {
        color: rgb(45, 0, 170);
      }
      &:nth-child(3) {
        color: rgb(207, 7, 147);
      }
    }
}

.login-body {
  height: 100vh;
}

.login-body .login-panel {
  min-width: 30rem;
  background-color: #ffffff;
  border-radius: 14px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 24px 36px rgba(0, 0, 0, 0.04);
}

.login-body .login-panel .logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--surface-900);
    font-size: 1.5rem;
    font-weight: 500;
    width: 300px;
    border-radius: 12px;
}

.login-body .login-panel .logo-container img{
  height: 2.5rem;
  margin-right: 0.5rem;
}

.login-body .login-panel > span {
  color: #7B8794;
}
.login-body .login-panel > span span {
  color: #495057;
}
.login-body .login-panel .p-button {
  color: #FFFFFF;
  background: #4C63B6;
  border: 1px solid #4C63B6;
  border-radius: 6px;
  font-weight: 700;
}
.login-body > span {
  color: #495057;
}

@media (max-width: 991px) {
  .login-body .login-panel {
    min-width: auto;
  }
}